services:
  keeperdata_bridge:
    build:
      args:
        TARGETARCH: x64
    labels:
      com.microsoft.visual-studio.project-name: "KeeperData.Bridge"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5560
      - AWS__ServiceURL=http://kdb-localstack-emulator:4566
      - Mongo__DatabaseUri=mongodb://kdbridge_mongodb:27017
      - IMB_S3_ACCESS_KEY=test
      - IMB_S3_ACCESS_SECRET=test
      - StorageConfiguration__ExternalStorage__BucketName=test-external-bucket
      - StorageConfiguration__InternalStorage__BucketName=test-internal-bucket
      - ServiceBusSenderConfiguration__DataBridgeEventsTopic__TopicArn=arn:aws:sns:eu-west-2:000000000000:ls-keeper-data-bridge-events
      - AesSalt=LD8BB2NNze7qKbVyLutAfGBxhkAApR 
    ports:
      - "5560"
    volumes:
      # Mac-specific paths for user secrets and HTTPS certificates
      - ~/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
      - ~/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
      - ~/.aspnet/https:/home/app/.aspnet/https:ro
      - ~/.aspnet/https:/root/.aspnet/https:ro
    networks:
      - cdp-tenant